<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Your Blog</h1>
    
    <form action="/blog" method="post">

    <label for="">Name:</label>
    <input type="text" name="blogs[name]"><br><br>
     <label for="">Title:</label>
    <input type="text" name="blogs[title]"><br><br>
     <label for="">Blog:</label>
    <input type="text" name="blogs[blog]" ><br><br>
     <label for="">publishedYear:</label>
    <input type="text" name="blogs[publishedYear]"><br><br>
         <label for="">Age Of Auther:</label>
    <input type="number" name="blogs[age]"><br><br>
   <button>Submit</button>
    </form>

</body>
</html>